<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <app-customer-view></app-customer-view>
  <app-customer-add></app-customer-add>
<router-outlet></router-outlet>